body{
    background-color: black;
}
h1{
    color:  white;
}
#p1{
    color:  white;
}
#p2{
    color:  green;
}
#p3{
    color:  lime;
}
#p4{
    color:  tomato;
}
.odd{
    color: rebeccapurple;
}
.even{
    color: pink;
}